<table id="users" class="table table-striped table-bordered" style="width:100%">
    <thead>
    	<tr>
    		<th>Nombre de Usuario</th>
    		<th>Fecha de Nacimiento</th>
    		<th>Edad</th>
    		<th>Dirección</th>
    	</tr>
    </thead>
    <tbody>
    	<tr *ngFor="let user of users">
    		<td >{{user.nombreUsuario}}</td>
    		<td >{{user.fecha_nacimiento}}</td>
    		<td >{{user.edad}}</td>
    		<td >{{user.direccion}}</td>
    	</tr>
    </tbody>
</table>